img {
  margin: 3%;
}

.avatar {
  float: right;
}

.text-white.h5 {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 3px;
  margin: 2px;
}

.nav-link {
  display: flex;
  justify-content: center;
}

.SignOut {
  color: rgb(172, 177, 32) !important;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.SignOut:hover {
  text-decoration-line: underline;
}

.main-logo {
  width: 60px;
  height: 3%;
}
