.back-photo {
  width: 90%;
  max-width: 730px;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  border: solid 1px red;
}

.books-and-comments {
  border: solid 1px red;
  width: 700px;
}
