body {
  background-color: #e9ebee;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
}

.homePage {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

input.form-control {
  box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
  outline: none !important;
}

.homepage main {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.homeAvatar {
  display: flex;
  flex-flow: column;
  padding: 0rem 2rem 0 10rem;
  width: 50%;
}

.homeAvatar h1 {
  color: #505050;
  font-weight: bold;
}

.homeAvatar__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (max-width: 957px) {
  .homeAvatar {
    padding: 0rem 2rem 0 3rem;
  }
}
